<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
<div th:replace="fragments.html::top-nav"></div>
<div class="container">
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-2">
            사진
        </div>
        <div class="col-8">
            소개글...

            이 페이지에 쓰인 기술

            할수있는 기술

            github링크

            등등

        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>

</body>
</html>